<div class="gmail_default" style="font-family: &quot;trebuchet ms&quot;, sans-serif; font-size: small; color: rgb(0, 0, 0); display: inline;">​​</div><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td style="background-color: #FD2F48; border: 1px solid #EEEEEE; background-image: url('http://http.nbz.net.br/agenciavitamina.com.br/www/mails/templates/images/logo.png'); background-repeat:no-repeat; background-position: center; height:150px;">&nbsp;</td>
		</tr>
		<tr>
		  <td style="border:1px solid #EEEEEE; border-top: 0; background-color: #FFF; padding: 35px; color:#666666;font-family: Tahoma, Geneva, sans-serif;font-size: 17px;">
			<p>Olá XXX, tudo bem?</p>
			<p>Meu nome é Tiago e sou Diretor Comercial da Agência Vitamina.</p>
			<p>Minha equipe me informou a respeito do seu pedido e antes de tudo gostaria que soubesse que estamos felizes por ter escolhido nossa agência. Porém, precisamos de maiores informações para darmos continuidade ao atendimento.	Sendo	assim,	gostaria de convidar você a acessar o link do seu pedido <a href="#">clicando aqui</a>. </p>
			<p>Caso prefira e seja possível, acesse o seu pedido no horário comercial para que possa falar com um atendende de nossa equipe através do chat. Ele poderá ajudar você no que você precisar.</p>
			<p>Grande abraço!</p>
			<p><strong>Tiago Gonçalves</strong><br />
			  Diretor Comercial
			    <br />
		    <a href="mailto:tiago@zbraestudio.com.br">tiago@zbraestudio.com.br</a> </p></td>
		</tr>
	</tbody>
</table>

<div>&nbsp;
<div>&nbsp;
<center><span style="font-style:italic; font-size: 11px; margin-top:5px;">Esta é uma mensagem automática, mas caso precise de ajuda, responda esse e-mail com sua dúvida. Copyright 2017 Agência Vitamina. </span></center>
</div>
</div>
